<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" type="text/css" rel="stylesheet">
    <script src="/static/htmx.min.js"></script>
    <title>Document</title>
</head>
<body class="flex flex-col h-screen items-center">
    <header class="flex-initial p-3">
        <a hx-post="/stop" hx-swap="none" class="rounded-full bg-red-600 w-16 h-16 text-white items-center flex cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="w-full h-14" viewBox="0 0 16 16">
                <path d="M7.5 1v7h1V1h-1z"/>
                <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z"/>
            </svg>
        </a>
    </header>
    <main class="p-3 mb-3 overflow-y-auto w-full h-full border-t-2 border-black">
        <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-3 h-screen">
            {{ range .Movies }}
                <img class="rounded-xl cursor-pointer" hx-post="/play?file={{ .File }}" src="{{ .Thumb }}"/>
            {{ end }}
        </div>
    </main>
    <!-- <footer class="flex-initial">
        <b>footer</b>
    </footer> -->
</body>
</html>