<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" type="text/css" rel="stylesheet">
    <script src="/static/htmx.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="columns-4">
        {{ range .Movies }}
            <img class="rounded-xl cursor-pointer" hx-post="/play?file={{ .File }}" src="{{ .Thumb }}"/>
        {{ end }}
    </div>
    <!-- cvlc "http://192.168.1.154:32400/library/parts/215/1662245734/file.mp4?download=1&X-Plex-Token=jdJx7C5mm6AEqadrtByG" -->
    <!-- cvlc "http://192.168.1.154:32400/library/parts/206/1662324030/file.mp4?X-Plex-Token=jdJx7C5mm6AEqadrtByG" -->
    <!-- <video crossorigin="anonymous" controls>
        <source src="http://192.168.1.154:32400/library/parts/215/1662245734/file.mp4?download=1&X-Plex-Token=jdJx7C5mm6AEqadrtByG" type="video/webm" />
    </video> -->
</body>
</html> 